// ----------- COMPANIES BEGIN ------------------
.companies
	+flex
	max-width: 1600px
	min-width: 320px
	min-height: 100vh
	flex-basis: 100%
	padding: 50px
	margin: 0 auto
	justify-content: space-around
	align-self: center
	align-content: space-around
	flex-wrap: wrap
	+r(760)
		padding: 50px 0 50px

.company
	flex-basis: 45%
	box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.1)
	min-height: 300px
	margin: 20px
	position: relative
	border-radius: 10px
	overflow: hidden
	+r(920)
		flex-basis: 100%
		min-height: 400px

	&_top-line
		width: 100%
		padding: 10px
		position: relative
		background: $blue
		color: $lgray
		+r(760)
			text-align: center

	&_title
		display: inline-block

	&_list
		width: 95%
		min-height: 250px
		max-height: 250px
		margin: 10px auto
		border-radius: 5px
		overflow-y: auto
		overflow-x: hidden
		+r(920)
			max-height: 350px
		&-item
			width: 96%
			margin: 15px
			padding: 10px
			font-family: $rale
			border-radius: 3px
			&:hover
				background: $blue
				color: $lgray
				cursor: pointer

// -----------TOTAL COMPANIES BEGIN ------------------

.total-comp_counter
	display: block
	width: 150px
	height: 150px
	position: absolute
	top: 58%
	left: 50%
	transform: translate(-50%, -50%)
	border: 5px solid $lgray
	border-radius: 50%
	text-align: center
	line-height: 147px
	font-weight: bold
	font-size: 26px
	color: $gray

// -----------TOTAL COMPANIES END ------------------

// ----------- COMPANIES PARTNERS BEGIN --------------

.partners
	max-width: 1550px
	flex-basis: 95%
	display: none

	&_list-wrap
		max-width: 98%
		position: relative
		min-height: 400px
		margin: 10px auto
		overflow-x: auto
		+clr

	&_list
		+flex
		width: 100%
		max-width: 200%
		height: 100%
		padding-bottom: 20px
		align-items: center
		position: absolute
		top: 0
		left: 0

	&_item
		position: relative
		min-width: 100px
		max-width: 100px
		height: 100%
		border-right: 1px solid $dgray
		white-space: nowrap
		text-align: center

	&_name
		position: relative
		top: 50%
		left: 50%
		color: $lgray
		transform: rotate(-90deg) translate(-120%, -150%)
		font-size: 22px
		text-align: right

	&_count
		position: absolute
		top: 10%
		left: 50%
		color: $lgray
		transform: translate(-50%, -10%)
		font-size: 26px

.sort
	min-width: 20%
	position: absolute
	top: 17px
	right: 15px
	+clr
	+r(760)
		display: block
		width: auto
		position: static
		margin-top: 10px
		+r(390)
			font-size: 14px

	&_arrow
		display: inline-block
		width: 16px
		height: 16px
		+cover
		+r(390)
			width: 12px
			height: 12px
		&:hover
			cursor: pointer
	&_title
		float: left
		vertical-align: top
		+r(760)
			float: left

	&_type
		float: right
		margin-left: 10px
		+r(760)
			float: left

	&_order
		display: inline-block

		& span
			vertical-align: top

// ----------- COMPANIES PARTNERS END --------------

// -----------  COMPANY LOCATION BEGIN ------------

.back-arrow
	width: 24px
	height: 24px
	float: right
	margin: 5px
	+cover
	+r(450)
		float: none
		margin: 10px auto 0
	&:hover
		cursor: pointer

.loc_list
	display: none
	max-height: 320px

// -----------  COMPANY LOCATION END ------------

// -----------  COMPANY NEWS BEGIN ------------

.news
	&_slider
		width: 95%
		height: 70%
		margin: 15px auto
		+r(920)
			min-height: 350px
	&_item
		height: 100%
		padding: 10px

	&_photo
		width: 100px
		height: 100px
		float: left
		margin-right: 10px
		+contain

	&_textual
		max-height: 150px
		overflow-y: auto
		+r(920)
			max-height: 300px

	&_meta
		display: inline-block
		min-width: 30%
		clear: both
		margin-top: 10px
		font-size: 0
		+r(460)
			min-width: 40%

		& span
			font-size: 14px
			margin: 5px

		&-title
			font-weight: bold

	.slick-dots li button:before  // Slick dots styled
		font-size: 24px

// -----------  COMPANY NEWS END ------------

// ----------- COMPANIES END ------------------
